body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ScreenSaver {
  position: absolute;
}
.ScreenSaver.blue {
  filter: invert(65%) sepia(59%) saturate(6252%) hue-rotate(162deg) brightness(96%) contrast(101%);
}
.ScreenSaver.pink {
  filter: invert(44%) sepia(76%) saturate(6758%) hue-rotate(286deg) brightness(110%) contrast(118%);
}
.ScreenSaver.black {
  filter: invert(0%) sepia(4%) saturate(18%) hue-rotate(140deg) brightness(103%) contrast(104%);
}
.ScreenSaver.green {
  filter: invert(78%) sepia(52%) saturate(4308%) hue-rotate(83deg) brightness(106%) contrast(115%);
}

.Ball {
  position: absolute;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
li {
  margin: 20px;
  padding: 5px;
  background-color: #202225;
  cursor: pointer;
}
li:hover, li.selected {
  background-color: #2d3137;
}